<div class="board-container">
  <h1>My Board</h1>
  <div class="list-container">
    <h2>To Do</h2>
    <div 
      class="draggable-list"
      cdkDropList 
      #todoList="cdkDropList" 
      [cdkDropListData]="todo" 
      [cdkDropListConnectedTo]="[doneList, inprogressList]" 
      (cdkDropListDropped)="drop($event)">
      <div class="item-box" cdkDrag *ngFor="let item of todo"> {{ item }} </div>
    </div>
  </div>
  
  <div class="list-container">
    <h2>In Progress</h2>
    <div
      class="draggable-list"
      cdkDropList 
      [cdkDropListData]="inprogress" 
      #inprogressList="cdkDropList"
      [cdkDropListConnectedTo]="[todoList, doneList]" 
      (cdkDropListDropped)="drop($event)">
      <div class="item-box" cdkDrag [cdkDragData]="item" *ngFor="let item of inprogress"> {{ item }} </div>
    </div>
  </div>
  
  <div class="list-container">
    <h2>Done</h2>
    <div
      class="draggable-list"
      cdkDropList 
      [cdkDropListData]="done" 
      #doneList="cdkDropList"
      [cdkDropListConnectedTo]="[todoList, inprogressList]" 
      (cdkDropListDropped)="drop($event)">
      <div class="item-box" cdkDrag [cdkDragData]="item" *ngFor="let item of done"> {{ item }} </div>
    </div>
  </div>
</div>
