<div class="board-container">
  <h1>My Board</h1>
  <div>
    <button (click)="openNewTaskDialog()" mat-fab extended color="primary">
      <mat-icon>add</mat-icon>
      New Task
    </button>
  </div>
  <div class="list-container">
    <h2>To Do</h2>
    <div 
      id="Todo"
      class="draggable-list"
      cdkDropList 
      #todoList="cdkDropList" 
      [cdkDropListData]="Tasks" 
      [cdkDropListConnectedTo]="[inprogressList, doneList]" 
      (cdkDropListDropped)="drop($event)">
      <div cdkDrag [cdkDragData]="task" *ngFor="let task of Tasks">
        <app-task *ngIf="checkStatus(task, 'Todo')" [task]="task" [(tasks)]="Tasks"/>
      </div>
    </div>
  </div>
  
  <div class="list-container">
    <h2>In Progress</h2>
    <div
      id="InProgress"
      class="draggable-list"
      cdkDropList 
      [cdkDropListData]="Tasks" 
      #inprogressList="cdkDropList"
      [cdkDropListConnectedTo]="[todoList, doneList]" 
      (cdkDropListDropped)="drop($event)">
      <div cdkDrag [cdkDragData]="task" *ngFor="let task of Tasks">
          <app-task *ngIf="checkStatus(task, 'InProgress')" [task]="task" [(tasks)]="Tasks"/>
      </div>
    </div>
  </div>
  
  <div class="list-container">
    <h2>Done</h2>
    <div
      id="Done"
      class="draggable-list"
      cdkDropList 
      [cdkDropListData]="Tasks" 
      #doneList="cdkDropList"
      [cdkDropListConnectedTo]="[todoList, inprogressList]" 
      (cdkDropListDropped)="drop($event)">
      <div cdkDrag [cdkDragData]="task" *ngFor="let task of Tasks">
        <app-task *ngIf="checkStatus(task, 'Done')" [task]="task" [(tasks)]="Tasks"/>
      </div>
    </div>
  </div>
</div>
